<a href="https://colab.research.google.com/github/Deepanshu0810/dataxlect-tutorials/blob/main/Python_Fundamentals_Bootcamp.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Installation of Anaconda Environment
get the installer for windows <a href="https://repo.anaconda.com/archive/Anaconda3-2022.10-Windows-x86_64.exe">here</a><br>

# Python Fundamentals
### What is Python
Python is an iterpreted programming language, object oriented and dynamicaly types language<br>
* Interpreted means the compilation takes place line by line if any line has error the execution stops there<br>
* Cross platform means that it can be used in all operating systems, for example if you write a program in windows then the same code can be executed in mac<br>
* object oriented programming is a different programming paradigm in which we divide different elements of the program into objects which have a set of properties and functions<br>
* dynamically types means that we do not need to assign data types to the variables they are detected automatically

<center><h1>Python Data Types</h1>
<image src="https://media.geeksforgeeks.org/wp-content/uploads/20191023173512/Python-data-structure.jpg">
</center>

In [ ]:
# use hastags to add comments to your program
# comments are useful because it helps the other team members to unerstand you work

# creating variables
name = "Deepanshu"
print(type(name)) # the text enclosed in single or double quotes is strings
id = 1003 # it is an integer
marks = 96.5 # this is a float
passed = True # in python booleans are True or False
coordinate = 10+20j
# the above is a complex no. where j denotes the 'iota'
# it should be kept in mind that while declaring a complex number j must be written after imaginary no not before if
# for example the below is the wrong declaration
# complexNum = 10 + j20
# uncomment the above to know that the above declaration is wrong

<class 'str'>

Basic Arithmetic operators<br>

1. exponent ** a**b (a to the power b
2. division /
3. multiplication *
4. floor division // (it returns the integer quotient)
5. remainder % (it returns the remainder)
6. addition +
7. subtraction -

In [ ]:
print(5%2)

1

## sequence Data types
sequence data types are used when we want to store multiple elements at the same time
1. <h2>List</h2>

> List is a sequential data type in which we can store multiple elements of different data types and the index of the list goes from 0 to N-1 or (-N to -1)<br>
where -1 is the last element and -N is the first element<br>
List are <em>mutable</em> and dynamic (we can add as many elements as we want)
<center><image src="https://media.geeksforgeeks.org/wp-content/uploads/20200710002648/Index-in-Python-1024x508.png"></center>

---
2. <h2>Tuple</h2>

> Tuples are also a sequential data type and can store elements of different data types but the major difference between the list and tuple is that tuples are not dynamic the elements cannot be added once there are fixed and the elements cannot be changed<br>
The indexing is same as that of list<br>
They are immutable

<center><image src="https://favtutor.com/resources/images/uploads/python_list_to_tuple.png"></ceter>

In [ ]:
# declaring an empty list
list1 = list()
list2 = [] 

# declaring a list
list3 = ['Python','Bootcamp','Is','Live']

# converting a string into a list
list4=list(name)
print(list4)

['D', 'e', 'e', 'p', 'a', 'n', 's', 'h', 'u']

In [ ]:
# mutability in list
list3[0] = 'Python Fundamentals'
print(list3)

['Python Fundamentals', 'Bootcamp', 'Is', 'Live']

In [ ]:
#@title pop()
list4.pop()
# builtin function pop() removes the last element of the list and returns it
print(list4)

['D', 'e', 'e', 'p', 'a', 'n', 's', 'h']

In [ ]:
list4.append('u')
# append(<element>) functions 
print(list4)

['D', 'e', 'e', 'p', 'a', 'n', 's', 'h', 'u']

In [ ]:
#@title append() and count()
print(list4.count('e'))
list5 = ['on','saturday']
# what will happen when I do the following
list3.append(list5)
print(list3)
# option 1:['Python Fundamentals', 'Bootcamp', 'Is', 'Live', ['on', 'saturday']]
# option 2:['Python Fundamentals', 'Bootcamp', 'Is', 'Live', 'on', 'saturday']

2
['Python', 'Bootcamp', 'Is', 'Live', ['on', 'saturday']]

In [ ]:
#@title extend()
# if we want to combine two lists we use extend function
list3.pop()
list3.extend(list5)
print(list3)

['Python', 'Bootcamp', 'Is', 'Live', 'on', 'saturday']

## Try out other functions by your self to understand better
<a href="https://www.w3schools.com/python/python_ref_list.asp">List Functions</a>

## String Functions
strings are most important in the field of data science because most of the data we encounter is text which is string in python<br>
So there some imporatnt string functions

In [ ]:
sentence = "a quick Brown fox"
upper_sentence = sentence.upper()
lower_sentence = sentence.lower()
capitalize_sentence = sentence.capitalize()
print(upper_sentence)
print(lower_sentence)
print(capitalize_sentence)

A QUICK BROWN FOX
a quick brown fox
A quick brown fox

In [ ]:
new = "   my laptop        "
print(new)

   my laptop

In [ ]:
no_spaces = new.strip()
print(no_spaces)

my laptop

In [ ]:
#you can also use strip function to remove what ever characters you want
unclean = "......$#$ban#ana##......."
clean = unclean.strip(".$#")
print(clean)

ban#ana

In [ ]:
# sometimes we need to check whether the string contains number or not
num = "123456"
type(name)

str

In [ ]:
num.isnumeric()

True

In [ ]:
alphabets = "abcdefg"
alphabets.isalpha()

True

In [ ]:
words = capitalize_sentence.split(' ')
print(words)

['A', 'quick', 'brown', 'fox']

In [ ]:
# concatination
concat_string = "deepanshu "+"anand"

#replicate
replicate_string = "happy "*10

print(concat_string)
print(replicate_string)

deepanshu anand
happy happy happy happy happy happy happy happy happy happy

## Practice Work
<a href="https://www.w3schools.com/python/python_ref_string.asp">String Functions</a>

## Conditional Statements
conditional statements are those which execute based on a condition<br>
Logical operators are most important for understanding conditional statements<br>
1. Equality operator ==
2. not equals operator !=
3. less than <
4. less than equal to <=
5. more than >
6. more than equal to >=

In [ ]:
# conditional always start with the if followed by elif if there are more conditions and at the end else
# the most basic code to understand the if-elif-else is

# greatest of three numbers
a = int(input("Enter a: ")) 
b = int(input("Enter b: ")) 
c = int(input("Enter c: ")) 

if (a>=b):
  if (a>=c):
    print(a,"is the greatest")
  else:
    print(c,"is the greatest")
elif (b>=a):
  if (b>=c):
    print(b,"is the greatest")
  else:
    print(c,"is the greatest")
elif (c>=a):
  if(c>=b):
    print(c,"is the greatest")
  else:
    print(b,"is the greatest")

Enter a: 10
Enter b: 15
Enter c: 9
15 is the greatest

In [ ]:
# since it is python we have lots of buit-in functions we can use one here
print(max(a,b,c))
print(min(a,b,c))

15
9

You can find various programs to impliment if-else in python below<br>
<a href="https://csiplearninghub.com/python-if-else-conditional-statement-practice/">if-else problems</a>

## Iterative statements
these are the statements which are used to execute statements repeatedly<br>
there are two loop statements<br>
1. for loop: used when we know how many iterations will be there
2. while loop: used when we dont know the no of iterations but only know the end condition

In [ ]:
# for loop example
# 'i' is the control variable which takes different values depending upon the range
# 'in' is a membership operator which relates the variable to a list
# 'range()' function returns a list depending upon the input arguments
# 'range(N)' give a list [0,1,2,3,.....,N-1] 
# 'range(A,B)' give a list [A,A+1,A+2,...B-1]
# 'range(A,B,s)' give a list [A,A+s,A+2s,.....] and B is not inclusive where 's' is the step value

for i in range(1,10,2):
  print(i)

# for j in list3:
#   print(j,end=" ")

1
3
5
7
9

In [ ]:
# while loop 

d=444
while (d!=0):
  print(d)
  d = d//10

444
44
4

In [ ]:
# important statements 
# 'break' when it is encountered the loop stops iterating and the comes out of the block of loop
# 'continue' it skips the further statements and go to the next iteration

# example 
while(True):
  print("1 to print 'Hello world'")
  print("2 to print 'Bye' and exit")
  print("3 to continue")
  ch = int(input())
  if (ch==1):
    print('hello world')
  elif (ch==2):
    print('Bye')
    break
  elif (ch==3):
    continue
    print('continue')
  else:
    print("you entered wrong choice")

1 to print 'Hello world'
2 to print 'Bye' and exit
3 to continue
1
hello world
1 to print 'Hello world'
2 to print 'Bye' and exit
3 to continue
3
1 to print 'Hello world'
2 to print 'Bye' and exit
3 to continue
2
Bye

# Practice Problems
1. W.A.P to write all prime no. between 1 to 20
2. W.A.P to identify a leap year take input from user (check for 1300 and 2100)
3. W.A.P to check palindrome no.
4. W.A.P to identify armstrong no.
5. W.A.P to find the sum of the given series: 1^1 + 2^2 + 3^3 + ... + n^n (take value of n from user)
6. W.A.P to print the following series<br>
<p>*<br>**<br>***<br>****</p>
7. W.A.P to print the following series<br>
<p>1<br>22<br>333<br>4444<br>55555</p>
8. W.A.P to print the following series<br>
<p>1<br>2 3<br>4 5 6<br>7 8 9 10</p>

## Disctionaries
Disctionaries are used to store ordered data in a key:value pair<br>
in a disctionary, keys are always unique and should be of immutable type<br>

In [ ]:
# declaring an empty dictionary
dict1 = dict()
dict2 = {}


# declaring a dictionary 
dict3 = {'name':'deepanshu','class':12,'stream':'non-medical'}
dict3['marks'] = 96
print(dict3.keys())
print(dict3.values())
for key in dict3.keys():
  print(key,":",dict3[key]) #list1[0] dict1[key]

dict_keys(['name', 'class', 'stream', 'marks'])
dict_values(['deepanshu', 12, 'non-medical', 96])
name : deepanshu
class : 12
stream : non-medical
marks : 96

In [ ]:
# task
cars = [{'name':'mustang','color':'black','year':1968},{'name':'skyline','color':'blue','year':1998},{'name':'supra','color':'white','year':1998},{'name':'dodge','color':'black','year':1970}]
for k in cars:
  for key in k.keys():
    print(key,":",k[key])
  print("-"*10)

name : mustang
color : black
year : 1968
----------
name : skyline
color : blue
year : 1998
----------
name : supra
color : white
year : 1998
----------
name : dodge
color : black
year : 1970
----------